[submodule "An 2/Semestrul 2/Baze-de-date"]
	path = An 2/Semestrul 2/Baze-de-date
	url = https://github.com/biancaa-elenaa/Baze-de-date.git
[submodule "An 2/Semestrul 2/Baza"]
	path = An 2/Semestrul 2/Baza
	url = https://github.com/biancaa-elenaa/xx.git
[submodule "An 2/Semestrul 2/xx"]
	path = An 2/Semestrul 2/xx
	url = https://github.com/biancaa-elenaa/xx.git
